
  <div class="page-header">

        <button class="back-btn" >
          <i class="fa-solid fa-arrow-right"></i>
        </button>

        <div class="header-content">
          <h2>Shipment Center</h2>
          <p>Select any section below to open and interact with the screen.</p>
        </div>

 </div>


        <div class="accordion-body">

 
              <app-tracking></app-tracking>
            
              <app-quary-comp (createComplaint)="openRaiseComplaint($event)"></app-quary-comp>
            
              <app-awbsearch></app-awbsearch>
            
              <app-delivery-mangement></app-delivery-mangement>

              <div #raiseComplaintSection>
                  <app-raise-compliant></app-raise-compliant>
              </div>
          
              
            
              <!-- <app-domastic-awb-greation></app-domastic-awb-greation> -->
  

       </div>  
      

   